<a href="https://colab.research.google.com/github/JayRolla/SA-Stock-market-analysys/blob/main/south_african_markets.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [4]:
mtn = pd.read_excel("https://github.com/JayRolla/SA-Stock-market-analysys/raw/main/Datasets/MTNJ_fund.xlsx")

In [6]:
mtn.head(5).T

,0,1,2,3,4
Date,23-11-2000,14-06-2001,22-11-2001,13-06-2002,27-11-2002
Revenue,3844.6,8337.3,5170.2,12432.0,8683.5
Cost of sales,-1582.2,-3352.6,-2066.3,-5081.1,-3594.5
Gross profit,2262.4,4984.7,3103.9,7350.9,5089.0
Operating profit,704.7,1543.5,724.8,1750.0,1484.5
Net profit,373.9,774.6,231.7,528.1,795.8
Headline earnings,312.5,713.5,237.7,572.6,704.8
Shares in issue,1399253000,1538881701,1626067000,1646887728,1646566000
Non-current assets,16355.4,19842.1,20894.8,23290.0,23358.6
Current assets,2186.5,2440.8,2883.1,4170.1,5659.9
Non-current liabilities,2718.9,4595.1,4688.4,6216.0,2777.6
Current liabilities,1571.0,2777.1,3153.0,4474.4,8842.3
Cash from operations,866.4,2914.8,631.4,2893.9,2186.2
Cash from investing,-712.0,-4663.7,-1327.2,-3640.5,-1858.7
Cash from financing,73.6,2187.8,394.9,702.4,974.1
Change in cash,228.0,438.9,-300.9,-44.2,1301.6
Full year,0,1,0,1,0
Half year,1,0,1,0,1